.book {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
